.carasoul-img img{
    height: 100vh;
    width: 100vw;
}
.carasoul-img{
    position:relative;
    display:inline-block;
    border-radius: 10px;
  }
  .carasoul-img:after {
    content:'';
    position:absolute;
    left:0; 
    top:0;
    width:100%; 
    height:100%;
    border-radius: 12px;
    display:inline-block;
    opacity: .65;
    background-color: #333; /* W3C */
  }
  .prev-btn, .next-btn{
    height: 200px;
    width: 45px;
    left: 0;
    opacity: 1;
    visibility: visible;
    transition: all 300ms ease;
    background: rgba(185, 142, 117, 0.2);
    border: 1px solid rgba(185, 142, 117, 0.05);
    border-radius: 0
  }
  .prev-btn:hover, .next-btn:hover{
    background: rgba(241, 168, 126, 0.2);
  }
  .animate-btn{
    position: relative;
    display: inline-block;
    color: #2d3941;
    background: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    z-index: 1;
    letter-spacing: 1px;
    border: 1px solid  #B98E75;
    transition: all 300ms ease-out 0s;
    padding: 10px 32px;
    font-size: 14px;
  }
  .animate-btn::before{
    position: absolute;
    content: '';
    width: 15px;
    height: 15px;
    background: rgba(185, 142, 117, 0.9);
    left: 0px;
    top: 0px;
    z-index: -1;
    
    transition: all 300ms ease-out 0s;
  }
  .animate-btn::after{
    content: "";
    height: 15px;
    width: 15px;
    position: absolute;
    background: rgba(185, 142, 117, 0.9);
    bottom: 0;
    right: 0;
    z-index: -1;
    transition: all 300ms ease-out 0s;
  }
  .animate-btn:hover {
    color: #fff;
  }
  .animate-btn:hover:before, .animate-btn:hover:after {
    width: 100%;
    height: 100%;
    background:  #B98E75;
  }